* {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  background-color: black;
  color: lightgrey;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
}

h1 {
  color:  #0FFF50;
  font-size: 6vw;
}

h1.title {
  font-size: 12vw;
}

a#startButton {
  background-color: #0FFF50;
  color: black;
  padding: 15px 30px;
  font-size: 3vw;
  border-radius: 10px;
  margin: 20px auto;
  display: inline-block;
  transition: box-shadow 0.2s;
}

a#startButton:hover {
  box-shadow: 0 6px 12px #0FFF50;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 200%;
  color: #333;
}

a.mainpage {
  float: left;
  padding: 10px;
  border-radius: 10px;
  color: #0FFF50;
}

div.left {
  float: left;
  margin: 5px 20px;
}

div.right {
  float: right;
  margin: 5px 20px;
}

div.faq {
  margin: 20px auto;
  max-width: 800px;
}

a.question {
  background-color: #0FFF50;
  color: black;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

div.answer {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}

@media (max-width: 1400px) {
  a.mainpage {
    float: none;
  }
}

@media (max-width: 600px) {
  a#startButton {
    font-size: 6vw;
    padding: 10px 20px;
  }

  a {
    font-size: 150%;
  }

  a.mainpage {
    font-size: 100%;
    padding: 5px;
  }
}
