* {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  background-color: black;
  color: lightgrey;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
}

h1 {
  color:  #0FFF50;
  font-size: 6vw;
}

h1.title {
  font-size: 12vw;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 200%;
  color: #333;
}

a#startButton {
  background-color: #0FFF50;
  color: black;
  padding: 15px 30px;
  font-size: 3vw;
  border-radius: 10px;
  margin: 20px auto;
  display: inline-block;
  transition: box-shadow 0.2s;
}

a#startButton:hover {
  box-shadow: 0 6px 12px #0FFF50;
}

a.mainpage {
  float: left;
  padding: 10px;
  border-radius: 10px;
  color: #0FFF50;
}

div.left {
  float: left;
  margin: 5px 20px;
}

div.right {
  float: right;
  margin: 5px 20px;
}

div.faq {
  margin: 20px auto;
  max-width: 800px;
}

a.question {
  background-color: #0FFF50;
  color: black;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

div.answer {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}

div.game {
  display: none;
}

div.game.active {
  display: block;
}

button {
  background-color: #0FFF50;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 4vw;
  margin: 20px;
  transition: box-shadow 0.2s;
}

button:hover {
  box-shadow: 0 6px 12px #0FFF50;
}

form#chatform {
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
}

input#chatinput {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  flex-grow: 1;
  height: 100%;
  background-color: #bbb;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

input#chatinput:focus {
  outline: none;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

form#chatform > button {
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 2rem;
  outline: none;
  display: inline-block;
  font-size: 1.5rem;
}

ul#messages {
  list-style: none;
  width: 50%;
  position: fixed;
  bottom: 60px;
  left: 25%;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 150px);
  height: 100%;
  overflow-y: scroll;
}

li {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #444;
  border-bottom: 5px solid #555;
  text-align: left;
}

li#own {
  background-color: #0FFF50;
  color: black;
  text-align: right;
}

@media (max-width: 1400px) {
  a.mainpage {
    float: none;
  }
}

@media (max-width: 600px) {
  a#startButton {
    font-size: 6vw;
    padding: 10px 20px;
  }

  a {
    font-size: 150%;
  }

  a.mainpage {
    font-size: 100%;
    padding: 5px;
  }

  button {
    font-size: 8vw;
    padding: 8px 16px;
  }

  form#chatform {
    width: 100%;
    left: 0;
  }

  input#chatinput {
    font-size: 1.2rem;
  }

  ul#messages {
    width: 100%;
    left: 0;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 3vw;
  position: fixed;
  top: 25%;
  left: 25%;
  background: radial-gradient(ellipse closest-side,#000,#0000) right/calc(200% - 1em) 100%;
  animation: l24 2s infinite alternate linear;
}
.loader::before {
  content: "Waiting for other players...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(ellipse closest-side,#0FFF50,#000);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}
