[Unit]
Description=Queer or Not webserver
After=network.target

[Service]
ExecStart=/usr/bin/node /QueerOrNot/index.js
Restart=always

[Install]
WantedBy=multi-user.target
